body {
    background-color: black;
    font-family: "Audiowide", sans-serif;
}

.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;

}


.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.card:hover:before,
.card:hover:after {
    animation: none;
    opacity: 0;
}


.card::before {
    content: "";
    width: 103%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}


.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}


@import url('https://fonts.googleapis.com/css?family=Raleway:900&display=swap');



#container {
    color: yellow;

}

/* Your average text styling */
#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;

    font-family: 'Raleway', sans-serif;
    font-size: 80pt;

    text-align: center;

    user-select: none;
    font-family: "Audiowide", sans-serif;
}


#mainNav {
    font-size: 1.5rem;
    font-weight: 150;
    color: rgb(168, 168, 151);
}

#mainNav .navbar-brand {
    color: white;
    font-size: 1rem;
    font-weight: 150;
    font-weight: bolder;
}

#mainNav .nav-link {
    color: rgb(168, 168, 151);
}

#mainNav .nav-link:hover {
    color: rgb(36, 25, 49);
}

#header {
    color: white;
}

#header span {
    color: rgb(245, 0, 0);
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}